body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.allCheckBtn {
    all: unset;
    color: #e6e6e6;
    font-size: 22px;
    font-weight: bold;
}

.allCheckBtn.allChecked {
    color: #737373;
}

.hidden {
    display: none;
}

.select {
    border: 1px solid #000;
}

.bottom-menu label p {
    text-transform: capitalize;
}
